@import "tailwindcss";

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    /* Устанавливаем очень темный сине-черный для мягкости */
    background-color: #050507 !important;
    color: white;
    min-height: 100vh;
  }
}